
@{
    ViewBag.Title = "Index";
}

<h2>Quality Systems</h2>
<div class="jumbotron">
    <p>The International Organization for Standardization (ISO) defines a quality system as the management system used to direct and control an organization with regard to quality. ACGT’s quality system encompasses the management of our facility (planning, reviewing progress and results), resources (instrumentation, staff training), monitor all aspects of the manufacturing process and service pipeline to measure progress and promptly resolve any issues (1). The goal of a quality system is to consistently produce superior goods and services that meet applicable guidelines and exceed customer satisfaction.</p>
    <p>Good Manufacturing Practice (GMP) is a set of production and testing procedures that are put in place to help ensure a quality product. Although not required for basic research applications, compliance with GMP guidelines is required for the pharmaceutical and medical device industries. Since oligonucleotides can be vital components of diagnostic medical devices, it is essential that our oligo synthesis facility and Quality Management System be compliant to the GMP guidelines established by several organizations including the International Organization for Standardization (ISO) 13485:2003 Medical Devices standards, United States Food and Drug Administration (FDA) current Good Manufacturing Practice (cGMP), and Canada's Medical Device Regulations (SOR 98-282). </p>
    <p>ISO 13485 is an ISO standard that outlines the requirements for a manufacturer to implement and maintain a quality management system when designing and manufacturing medical devices. The US Code of Federal Regulations Title 21 (Food and Drugs) part 820 outlines quality system regulations for medical devices (2). Canada's Medical Device Regulations (MDR) SOR 98-282 outline the regulations that apply to the manufacturing, sale, and importation of medical devices, including in vitro diagnostic devices (3). By complying with these regulations, which include quality system requirements, document control, identification and traceability, and production and process controls, you can be assured that products manufactured by ACGT are of the highest quality.</p>
    <p> questions related to quality systems at acgt, please contact our qc manager.</p>
    <p>Related links: </p>
    <p><a href="http://www.iso.org/iso/home.html">International Organization for Standardization (ISO)</a></p>
    <p><a href="http://www.hc-sc.gc.ca/index-eng.php">Health Canada</a></p>
    <p><a href="http://www.hc-sc.gc.ca/dhp-mps/compli-conform/gmp-bpf/index-eng.php">Health Canada Good Manufacturing Practices (GMP)</a></p>
    <p><a href="http://www.fda.gov/">U.S. Food and Drug Administration (FDA)</a></p>
    <p>

        <a href="http://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfcfr/cfrsearch.cfm?cfrpart=820"></a>

        (Quality System Regulation)

    </p>
    <p>References</p>
    <p><a href="http://www.iso9001consultant.com.au/FAQs-quality-systems-management.html">http://www.iso9001consultant.com.au/FAQs-quality-systems-management.html</a></p>
    <p><a id="yui_3_17_2_1_1411328035659_382" href="http://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfcfr/cfrsearch.cfm?cfrpart=820">http://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfcfr/cfrsearch.cfm?cfrpart=820</a></p>

</div>