
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 portfolio-item">

                <p><h3>NEWS</h3></p>
                <p class="footer">New Oligonucleotide Synthesis Scale and Sequencing Pricing</p>
                <br>
                <p class="footer">Site-Directed Mutagenesis Services and Offered at ACGT</p>
                <br>
                <p class="footer">Custom Projects - Let ACGT assit you</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 portfolio-item">

                <p><h3>QUICK LINKS</h3></p>

                <p class="white" style="color:white">@Html.ActionLink("Oligo Order Form", "Order", "Home")</p> 
                <br>
                <p class="" style="color:white">@Html.ActionLink("Sequencing Order Form", "Order", "Sequencing")</p>
                <br>
                <p class="footer">Site Directed Mutagenesis</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 portfolio-item">

                <p><h3>LOCATION</h3></p>
                <p class="footer">700 bay street suite 1100 </p>
                <p class="footer">Toronto,Ontario</p>
                <p class="footer">Canada M5G 1Z6</p>
                <br>
                <p class="footer">Tel : 416-977-2228</p>
                <p class="footer">1-800-735-0847</p>
                <p class="footer">Fax: 416-977-7111</p>
            </div>
            <div style="padding-top:20px;" class="col-lg-3 col-md-3 col-sm-3 portfolio-item">
                <img src="~/images/Bsi-Logo.png" />
                <div style="padding-top:7px;">
                    <a style="padding-right:7px;" href="#"><img src="~/images/Facebook.png" /></a>
                    <a href="#"><img src="~/images/Twitter.png" /></a>
                </div>
            </div>
        </div>

    </div>
</div>