
@{
    ViewBag.Title = "Personalized Custom Projects";
}

<div class="row">
    <h1>Personalized Custom Projects</h1>
    <div class=".col-md-8">
        Our research and development team is made up of a number of qualified research scientists who will gladly discuss potential strategies and customized services to fulfill your personal needs. Please contact us by filling out the form below.
    </div>
       
</div>



<img class="img-rounded center-block" width="50%" height="50%" src="~/images/Lab%20Hood.jpg" />
