
@{
    ViewBag.Title = "SiteDirectedMutagenesis";
}

<h2>SiteDirectedMutagenesis</h2>


<p>ACGT is pleased to offer site-directed mutagenesis services for plasmids containing genes that are up to 1 kb in length. For genes larger than 1 kb please contact us for more information. Simply send us your clone and a list of mutations you want.</p>

<table id="tfhover" class="tftable" border="1">
    <tr><th>A mutation can include one of the following:</th></tr>

    <tr><td>A single or multiple consecutive amino acid substitution</td></tr>
    <tr><td>An insertion or a deletion</td></tr>
    <tr><td>Single base changes</td></tr>
</table>

<br /> &nbsp

<p>We will provide you with a plasmid containing your desired mutation along with the sequencing results confirming the presence of your mutation. You will receive results in minimal time so you can focus more on your experiments and less on the busy work. </p>

<ul>
    <li>The total length of the plasmid plus the gene insert combined must be 8 kb or less. </li>
    <li>We will generate any mutation that results in a change of up to 15 consecutive bases. </li>
    <li>Please submit at least 500 ng dam methylated plasmid in water or 10 mM Tris buffer and your sequence in .doc or .docx format clearly indicating the desired base changes along with the name of the parental plasmid and its antibiotic marker.</li>
    <li>Should we need to synthesize a special primer for sequencing purposes additional charges may apply (Please check our list of primers for reference)</li>
</ul>

<p>If you are interested in mutations that are excluded from this definition, such as two non-consecutive amino acid substitutions, or have any other questions please inquire inquire below</p></div></div><div class="sqs-block form-block sqs-block-form" data-block-type="9" id="block-0a0bb3d309fc166f966d"><div class="sqs-block-content">
