
@{
    ViewBag.Title = "Announcements";
}

<h2>Jason</h2>

<p>
    ACGT Corp. has also just executed an MOU with Shanghai Pharmaceutical which is a publicly listed, Chinese company that did approximately $80B RMB ($15B USD) last year in gross sales with an impressive 18% increase in sales over 2013.  The MOU covers marketing, distribution, and sales of various products that ACGT will supply to Shanghai Pharma for consumption in the Chinese marketplace.  These will include both pharma and nutra products.  The first of which is an anti-cancer nutraceutical called Escozine (www.escozine.com and www.medolife.com) which is manufactured by a Dominican based company called Medolife.
</p>

<p>
    ACGT is also completing such arrangements into the other BRIC countries – namely Brazil, Russia, and India with a clear strategy to partner with companies that offer expertise in their marketplace, and the ability to successfully launch any given product with the necessary marketing, sales and distribution capabilities required.
</p>

<p>
    This  strategy is designed at building a global infrastructure for the marketing, sales, and distribution of additional products which ACGT will continue to acquire so as to build a product catalog.  Based on Dr.Chen’s formidable relationships in China and the recently executed MOU with Shanghai Pharmaceutical, this will be a significant revenue stream with minimal capital requirements.  Initial sales projections on the Escozine product are significant and typically ACGT will complete a 50-50 JV with the company that owns the product, as it has in the case of Medolife Corporation.
</p>

<p>
    ACGT is already in negotiations with several other products from a number of companies seeking penetration into the Chinese marketplace.  The relationship with Shanghai Pharmaceutical allows for access to regulatory bodies, government organizations, sFDA, and an established network, and operating business that has an outstanding proven track record.
</p>
