
@{
    ViewBag.Title = "Index";
}

<h2>Research and Development</h2>
<div class="jumbotron">
    <p>ACGT is committed to bringing DNA technologies to life. We are interested in participating in collaborative projects with academic researchers and commercial groups.</p>
    <p>Techniques for the quantification of DNA such as polymerase chain reaction (PCR) are used in clinical diagnostics as well as other areas of testing including the environmental and food industries.  In addition to the DNA synthesis and sequencing services offered by the core facilities at ACGT, a dedicated team of scientists are developing new technologies for routine use by the medical community that are aimed at improving disease diagnoses and, ultimately, public health. Our molecular diagnostic system is designed to rapidly identify the presence of infectious agents and disease markers in clinical samples.  Our technique uses a patented isothermal non-enzymatic mechanism to achieve detection of clinically relevant quantities of target analytes in as little as 3 hours or less. The system uses a proprietary probe design to detect the target analyte and subsequently increase the amount of signal without de novo synthesis. Our technology will allow for timely and targeted management of illness by physicians as well as provide a powerful screening tool for use during epidemics. </p>
    <p>For information regarding custom work or collaborative projects, please contact Hemanshu Modi.</p>
</div>