
@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>

<p>Frequently Asked Questions about DNA Sequencing</p>
<p>How can I view my sequence data?</p>
<p>To view your sequence data, please download the free ABI Sequence Scanner software.
Other free software is also available for viewing sequencing data;</p>
<p>For Mac users: <a href="http://4peaks.en.softonic.com/mac"> 4peaks software</a></p>
<p>For PC users: <a href="http://technelysium.com.au/"> chromas lite (technelysium)</a></p>