@{
    ViewBag.Title = "Index";
}

<h2>Overview of DNA Sequencing</h2>

<div class="jumbotron">
    <p>
        ACGT has earned a reputation for rapid turn-around-time while providing the highest quality sequencing results. Our experienced technicians are ready to work for you.
    </p>
    <p>Using the Applied Biosystems/Life Technologies 3730xl DNASequencer, ACGT offers a convenient sequencing service that meets or exceeds GMP standards.  Besides DNA sequencing, this 48 capillary sequencer can be used for SNP analysis, mutation detection, microsatellite analysis, and DNA-protein interaction studies. ACGT typically runs the long-read module that provides read lengths of approximately 600-800 bases (depending on DNA quality). </p>
    <p> </p>
    <h2>Reasons to choose ACGT:</h2>
    <ul>
        <li> Timely, accurate results (submit samples before 3pm for next day results)</li>
        <li> Competitive pricing</li>
        <li>Electronic delivery of sequencing results</li>
        <li>Convenient sample pick-up service (certain areas in downtown Toronto)</li>
    </ul>
</div>