
@{
    ViewBag.Title = "PriceList";
}

<h2>PriceList</h2>
<p>Price List

Pricing for Sequencing:</p>
<table class="table table-striped table-hover" >
    <tbody>
        <tr><th>Price</th><th>Data</th></tr>

        <tr><td>$5</td><td>Unedited Data</td></tr>
        <tr><td>$10</td><td>Edited Data</td></tr>
        <tr><td>$3*</td><td>*Optimization</td></tr>
    </tbody>
</table>
<p>*Data editing involves a review of the sequencing data by a qualified sequencing technician and the manual editing of any ambiguities.

Graphic results are sent by email. Sequence assembly and primer design are performed on request.

Sequencing by primer walking is available, please contact us for pricing.</p>