
@{
    ViewBag.Title = "SequencingOrderForm";
}

<h2>SequencingOrderForm</h2>

<div class="row">
    <div class="col-md-4">
        <div class="jm-item first ">
            <div class="jm-item-wrapper ">
                <div class="  jm-item-image ">
                    <img class="thumbnail" width="300" height="400" src="~/images/Biostar1_Cropped.JPG" alt="Order Form" />
                    <span class="jm-item-overlay"> </span>
                    <div class="jm-item-button"><a href="~/pdf/~/pdf/ACGTSequencingOrderForm.pdf">View</a></div>
                </div>
                <div class="jm-item-title">Sequencing Order Form</div>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="jm-item first ">
            <div class="jm-item-wrapper ">
                <div class="  jm-item-image ">
                    <img class="thumbnail" width="300" height="400" src="~/images/HPLC.JPG" alt="Oligonucleotide Order Form instructions" />
                    <span class="jm-item-overlay"> </span>
                    <div class="jm-item-button"><a href="~/pdf/SequenceOrderFormInstructions.pdf">View</a></div>
                </div>
                <a href="~/pdf/SequenceOrderFormInstructions.pdf">~/pdf/SequenceOrderFormInstructions.pdf</a>
                <div class="jm-item-title">Sequence Order Form instructions</div>
            </div>
        </div>
    </div>

</div>