@{
    ViewBag.Title = "FAQs";
}

<h1>FAQs: &nbsp;General</h1>
<p><strong>Who do I contact to place my first order?</strong></p>
<ul>
    <li>To place your first order, please email us at <a href="mailto:order@acgtcorp.com">order@acgtcorp.com</a> or call us at 416-977-2228 or 1-800-735-0847. Once we have your billing information on file, subsequent orders can be conveniently placed <a href="/oligo-synthesis-order-form">online</a>.</li>
</ul>
<p><strong>Who do I contact for special pricing (i.e. high volume or modified phosphoramidites) orders?</strong></p>
<ul><li>Please email us at <a href="mailto:order@acgtcorp.com">order@acgtcorp.com</a> to inquire about special pricing.</li></ul><p><strong>Where can I drop off my samples?</strong></p>
<ul><li>Samples for sequencing can be hand delivered or shipped to our lab located at 700 Bay St, Suite 1100, Toronto, Ontario M5G 1Z6.&nbsp; Our business hours are 9am to 5pm. Samples must be received before 3pm for next-day service.</li><li>We also pick-up sequencing samples at various locations in downtown Toronto. If you work in a building on our <a href="/schedule-pick-up">pick-up list</a>, please complete a pick-up request and email it to us.</li></ul><p><strong>Who do I contact for technical questions?</strong></p>
<ul><li>Technical questions can be emailed to <a href="mailto:support@acgtcorp.com">support@acgtcorp.com</a>. We typically respond within one business day. Please call us at 416-977-2228 if your question is urgent.</li></ul><p><strong>How do I pay for my orders?</strong></p>
<ul><li>Invoices are sent out during the first week of every month via email or mail (as requested) to the contact listed under "Billing Information" on your oligo/sequencing order form. &nbsp;The recipient of the invoice must respond back to let us know how they wish to proceed with payment.&nbsp;Payment options include:<ul><li>Credit Card (please email or phone in your credit card information. We can store it on file if you wish, however, you still must authorize the card to be charged for each invoice via email message or calling in)</li><li>Direct Deposit</li><li>Cheque</li></ul></li></ul><p><strong>What are your hours of operation?</strong></p>
<ul><li>We are available between the hours of 9am to 5pm, Monday to Friday, excluding holidays.</li></ul><p> </p>
<h2><a href="/faq">FAQs for Oligo Synthesis</a></h2>
<h2><a href="/faq-sequencing">FAQs for DNA Sequencing</a></h2>
