
@{
    ViewBag.Title = "General";
}

<h2>General</h2>
<p>At ACGT, we strive to provide excellent customer service. </p>
<p>Please contact support@acgtcorp.com with any technical questions.</p>
<p>Please contact order@acgtcorp.com with any questions regarding ordering and billing.</p>
<p>Please view the glossary and Frequently Asked Questions (General FAQs, FAQs for Oligo Synthesis, and FAQs for DNA Sequencing). </p>