
@{
    ViewBag.Title = "Glossary";
}

<h2>Glossary</h2>

<h3>21 CFR Part 820: </h3>
<p>US Code of Federal Regulations Title 21 (Food and Drugs) part 820 outlines quality system regulations for medical devices (1). By complying with these regulations, which include quality system requirements, document control, identification and traceability, and production and process controls, customers can be assured that products manufactured by ACGT are of the highest quality.</p>

<h3>Antibodies:</h3>
<p>Immunoglobulin (Ig) proteins that are able to identify and bind to an antigen.</p>

<h3>BigDye™ chemistry: </h3>
<p>BigDyes™, developed by ABI, are a set of dye terminators labelled with high-sensitivity dyes. The dye structures contains a fluorescein donor dye linked to one of four energy-transfer dichlororhodamine (dRhodamine) acceptor dyes. The excitation maximum of each dye label is that of the fluorescein donor and the emission spectrum is that of the dRhodamine acceptor. The BigDye™ terminators are 2-3 times brighter than the rhodamine dye terminators when incorporated in cycle sequencing products. For more information, please see: Rosenblum BB, et al. New dye-labelled terminators for improved DNA sequencing patterns. Nucleic Acids Research 1997, 25(22):4500-4504.</p>

<h3>Certificate of Analysis: </h3>
<p>A certificate that accompanies all GMP-grade products that assures quality specifications have been met.</p>

<h3>Deoxyribonucleic acid (DNA):</h3>
<p>DNA is the genetic material in a living organism; DNA is made up of four nucleic acids, namely adenine (A), cytosine (C), guanine (G) and thymine (T).</p>

<h3>Desalting:  </h3>
<p>Desalting is a basic purification method for synthesized oligonucleotides. This process removes the unwanted by-products of the synthesis, cleavage, and deprotection procedures. Desalting does NOT remove truncated oligonucleotides.</p>

<h3>Dideoxynucleotide:</h3>
<p>Dideoxynucleotides are modifided deoxynucleotides that differ from naturally occurring deoxynucleotides by the absence of the hydroxyl (-OH) group on the 3’ carbon of the sugar backbone. In DNA sequencing, dideoxynucleotides are the terminating base that is added to the growing chain and each dideoxynucleotide (A, C, G, T) is labelled with a different fluorescent molecule.</p>

<h3>DMT group:</h3>
<p>4,4’-dimethoxytrityl (DMT) is an acid-labile chemical moiety that protects the 5’ hydroxyl group during the process of oligonucleotide synthesis. The removal of DMT leaves the 5' hydroxyl group exposed and available for the next base to be coupled. </p>

<h3>Enzymes:</h3>
<p>Proteins that function as biological catalysts.</p>

<h3>Gene therapy:</h3>
<p>The insertion of genes into a patient's cells to treat disease caused by a protein deficiency.</p>

<h3>Good Manufacturing Practice:</h3>
<p>Good Manufacturing Practice (GMP) is a set of regulated production and testing procedures that are put in place to help ensure a quality product. GMP compliance is required for the pharmaceutical and medical device industries. Several GMP guidelines have been established including US 21CFR820, Canada's MDR SOR 98-282, and ISO 13485:2003.</p>

<h3>Good Laboratory Practice:</h3>
<p>Good Laboratory Practice (GLP) involves the formal documentation of all experiments conducted in a laboratory, including SOPs, instrument calibration and maintenance, staff qualifications and training, and retention of data sets.</p>

<h3>Immunoassays:</h3>
<p>Assays that use an antibody to identify and quantify an antigen within a sample (for example, blood).</p>

<h3>ISO 13485: </h3>
<p>ISO (International Organization for Standardization) 13485 is an ISO standard that outlines the requirements for a manufacturer to implement and maintain a quality management system when designing and manufacturing medical devices.</p>

<h3>Length of Read (LOR):</h3>
<p>LOR is a term used in DNA sequencing to describe the length of the sequence obtained.</p>

<h3>Mass spectrometry:</h3>
<p>Mass Spectrometry (MS) is a technique used to measure the mass-to-charge ratio of ionized particles. In the context of oligo synthesis, MS allows the molecular weight (MW) of the oligo to be measured. MS analysis allows the comparison of the calculated MW of the oligo to the measured MW, and can indicate the presence of deletions, additions, or substitutions within the oligo sequence.</p>

<h3>Oligo purity:</h3>
<p>A given oligonucleotide sample may contain truncated oligos and other by-products of the synthesis reaction. Oligo purity is measured by HPLC and refers to the percentage of full length desired oligonucleotide in the final product.</p>

<h3>Optical density:</h3>
<p>Optical density, also known as absorbance, in spectroscopy refers to the logarithmic ratio of radiation falling upon the material to the radiation transmitted through the material. For nucleic acids, the concentration can be determined by the amount of light (at wavelength of 260 nm) is absorbed by the sample.</p>
<p>c = A/(e*l)</p>
<p>c = concentration of nucleic acid (µg/mL)</p>
<p>A = absorbance at 260nm</p>
<p>e = extinction coeffiecient (20 µg/mL for single stranded oligos)</p>
<p>l = width of cuvette (cm)</p>

<h3>Pathogen:</h3>
<p>An infectious agent, such as bacteria or a virus, that can cause disease.</p>

<h3>Phosphoramitide: </h3>
<p>A monoamide of a phosphite diester. Nucleoside phosphoramidites are derived from protected nucleosides and these are used in the oligonucleotide synthesis</p>

<h3>Polymerase Chain Reaction (PCR):</h3>
<p>PCR is a technique used to amplify the number of copies of target DNA.</p>

<h3>Quality System:</h3>
<p>The management system used to direct and control an organization with regard to quality.</p>

<h3>Reverse Phase cartridge purification:</h3>
<p>Reverse phase (RP) cartridge purification involves separating full-length oligos from truncated oligos based on the difference in hydrophobicity.</p>

<h3>Synthesis scale:</h3>
<p>Scale of synthesis refers to the polystyrene-filled ABI 3900 (DNA synthesizer) columns used to initiate the DNA synthesis process. The scale of synthesis is proportional to the yield of oligonucleotide manufactured. ACGT offers three scales of synthesis: 0.02, 0.4 and 1 µmol.</p>

<h3>Theoretical yield: </h3>
<p>The amount of DNA that is expected if the reaction is 100% complete.</p>

<h3>References:</h3>
<p>1.<a href="http://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfcfr/cfrsearch.cfm?cfrpart=820">US Code of Federal Regulations Title 21 Part 820</a></p>
