
@{
    ViewBag.Title = "Tools";
}
                    <h1>Tools</h1><p><strong>Molecular Weight Calculator and Melting Temperature Calculator: Coming Soon!</strong></p><p><strong>Related links:</strong></p><p>
                        <a href="http://tools.neb.com/NEBcutter2/">NEBcutter v2.0</a>:
                        A free tool that will find non-overlapping open reading frames and the
                        Type II and Type III restriction enzyme cutting sites in a given DNA
                        sequence.
                    </p><p>
                        <a href="http://www.appliedbiosystems.com/absite/us/en/home/support/software-community/free-ab-software.html">ABI Sequence Scanner</a>:
                        A free download from ABI for viewing, editing, printing, and exporting
                        sequence data generated using the Applied Biosystems Genetic Analyzers.<br>
                    </p><p><a href="http://www.iso.org/iso/home.html">International Organization for Standardization (ISO)</a></p><p><a href="http://www.hc-sc.gc.ca/index-eng.php">Health Canada</a></p><p><a href="http://www.hc-sc.gc.ca/dhp-mps/compli-conform/gmp-bpf/index-eng.php">Health Canada Good Manufacturing Practices (GMP)</a></p><p><a href="http://www.fda.gov/">U.S. Food and Drug Administration (FDA)</a></p><p><a href="http://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfcfr/cfrsearch.cfm?cfrpart=820">CFR Title 21 part 820</a> (Quality System Regulation)</p><p><strong>Technical Report:</strong></p><p><a href="/s/ACGT_Extinction-coefficient-technical-bulletin-v1-i3jo.pdf">Extinction Coefficient Bulletin (Calculating DNA concentration) - December 2012</a></p><p></p>
