@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<style>
    p {
        color: #428bca;
    }

    H1, H2 {
        color: white;
    }
</style>
<div class="jumbotron">
    <p>Our History:</p>

    <p>Dr. Hai Shiene Chen established ACGT Corporation in 1995. Located at 700 Bay Street, ACGT occupies 6,500 square feet of laboratory and office space. We are located at the intersection of the business and research districts, walking distance from The Hospital for Sick Children, Toronto General Hospital, Mount Sinai Hospital, Princess Margaret Hospital, Women’s College Hospital, St. Michael’s’ Hospital, Ryerson University and the University of Toronto. ACGT is considered to be one of the prominent Canadian providers of DNA services. ACGT has consistently been selected as the primary service supplier with superior quality control and fast delivery time for many well-known medical institutions.</p>

</div>
