
@{
    ViewBag.Title = "Careers";
}

<h2>Careers</h2>

<div class="jumbotron">
    <p>Job Postings</p>
    <p>To apply for a position please send your resume with a cover letter to support@acgtcorp.com</p>
    <p>There are currently no open positions at ACGT. Please check back frequently as we are always expanding our operations.</p>
</div>