@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<div class="jumbotron">
    <address style="color:black">
       N/A
    </address>

    <address>
       
        <strong>Email:</strong>   <a href="N/A">N/A</a><br /> 
    </address>
    </div>
