@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>




<style>
    #map-canvas {
      
        margin-bottom: 20px;
        width: 100%;
        height: 500px;
        color: #29383F;
       
        left: 0;
        top: 0;
        right: 0;
    }
</style>



<div class="row" style="padding-bottom:400px;">
    <div class="col-md-4">
        <p><strong>Address</strong> 700 Bay St Suite #1100 M5G1Z6</p>
        <p><strong>Phone</strong> 416-977-2228</p>
        <p><strong>Fax</strong> 416-977-7122 </p>
        <p>For questions about ordering and billing, please email: order@acgtcorp.com </p>
        <p>For technical questions, please email: support@acgtcorp.com</p>
    </div>
    <div id="map-canvas"></div>
</div>


<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="~/js/Google/googleMap.js"></script>