@{
    ViewBag.Title = "Home Page";
}



<div style="padding-top:200px; padding-bottom:200px">
    <a href="@Url.Action("Order", "Home")">

        <img  src="~/Content/OrderNow.png" />
    </a>
</div>

