@{
    ViewBag.Title = "Oligonucleotide Order Form";
}



<script src="~/js/NewRows.js"></script>
<style>
    .table {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
    }
</style>

<link rel=StyleSheet href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css" type="text/css" media=screen>



<span style="padding-top:100px;padding-bottom:100px;">

</span>


<div ng-controller="MockCtrl as vm">
    <h2>Oligonucleotide Order Form</h2>
    <form name="dnaForm" ng-app="acgt" class="form-horizontal pushFooter" novalidate>
        <input hidden  type="text" name="vm.primerConcBox" value="50" > 
        <div class="row">
            @*Shipping*@
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="padding-bottom: 34px;">
                        <h3 class="panel-title">Shipping Information</h3>
                        <p>* Mandatory Information</p>
                    </div>
                    @*//Billing form*@
                    <div class="panel-body">
                        @*First Name*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.txtShippingFirstName.$invalid && !dnaForm.txtShippingFirstName.$pristine}">
                            <label class="control-label" for="txtShippingFirstName">* First Name</label>
                            <input type="text" class="form-control" id="txtShippingFirstName" name="txtShippingFirstName" ng-model="vm.WrapperModel.Shipping.FirstName" placeholder="First Name" title="First Name" required>
                            <p ng-show="dnaForm.txtShippingFirstName.$invalid && !dnaForm.txtShippingFirstName.$pristine" class="help-block">Your First name is required.</p>
                        </div>
                        @*Last Name*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.txtShippingLastName.$invalid && !dnaForm.txtShippingLastName.$pristine}">
                            <label class="control-label" for="txtBillingLastName">* Last Name </label>
                            <input type="text" class="form-control" id="txtShippingLastName" name="txtShippingLastName" ng-model="vm.WrapperModel.Shipping.LastName" placeholder="Last Name" title="Last Name" required>
                            <p ng-show="dnaForm.txtShippingLastName.$invalid && !dnaForm.txtShippingLastName.$pristine" class="help-block">Your Last name is required.</p>
                        </div>
                        @*Institution*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.txtShippingInstitution.$invalid && !dnaForm.txtShippingInstitution.$pristine}">
                            <label class="control-label" for="txtShippingInstitution">Institution / Company Name</label>
                            <input type="text" class="form-control" id="txtShippingInstitution" name="txtShippingInstitution" ng-model="vm.WrapperModel.Shipping.Institution" placeholder="Institution" title="Institution">
                        </div>

                        @*Country*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.ShippingCountryDrp.$invalid && !dnaForm.ShippingCountryDrp.$pristine}">
                            <label class="control-label">Country</label>

                            <select id="accountselector" name="shippingCountryDrp" ng-model="vm.WrapperModel.Shipping.Country" class="form-control" style="width: 100%;" >
                                <option value="">--- Select an option ---</option>
                                <option data-ng-repeat="(key, value) in vm.countriesList" value="{{key}}">{{value.name}}</option>
                            </select>
                            @*                            <p ng-show="dnaForm.ShippingCountryDrp.$invalid && !dnaForm.ShippingCountryDrp.$pristine" class="help-block">Country is required.</p>*@
                        </div>
                        @*Address*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.txtShippingAddress.$invalid && !dnaForm.txtShippingAddress.$pristine}">
                            <label class="control-label" for="txtShippingAddress">* Address</label>
                            <input type="text" class="form-control" id="txtShippingAddress" name="txtShippingAddress" ng-model="vm.WrapperModel.Shipping.ShippingAddress" placeholder="Shipping Address" title="Shipping Address" required>
                            <p ng-show="dnaForm.txtShippingAddress.$invalid && !dnaForm.txtShippingAddress.$pristine" class="help-block">Address is required.</p>
                        </div>
                        @*Postal Code*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.txtShippingAddressPostalCode.$invalid && !dnaForm.txtShippingAddressPostalCode.$pristine}">
                            <label class="control-label" for="txtShippingAddressPostalCode">Postal Code</label>
                            <input type="text" class="form-control" id="txtShippingAddressPostalCode" name="txtShippingAddressPostalCode" ng-model="vm.WrapperModel.Shipping.PostalCode" placeholder="Postal Code" title="Postal Code">
                       
                        </div>
                        @*Phone*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.txtShippingPhone.$invalid && !dnaForm.txtShippingPhone.$pristine}">
                            <label class="control-label" for="lblPhone">*Phone</label>
                            <input type="number" class="form-control" id="lblPhone" name="txtShippingPhone" ng-model="vm.WrapperModel.Shipping.Phone" placeholder="Shipping Phone" title="Shipping Phone" required>
                            <p ng-show="dnaForm.txtShippingPhone.$invalid && !dnaForm.txtShippingPhone.$pristine" class="help-block">Shipping Phone is required.</p>
                        </div>
                        @*Extention*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.txtShippingExtention.$invalid && !dnaForm.txtShippingExtention.$pristine}">
                            <label class="control-label" for="lblPhone">*Extention</label>
                            <input type="text" class="form-control" id="txtShippingExtention" name="txtShippingExtention" ng-model="vm.WrapperModel.Shipping.Extention" placeholder="Extention" title="Extention" required>
                            <p ng-show="dnaForm.txtShippingExtention.$invalid && !dnaForm.txtShippingExtention.$pristine" class="help-block">Extention is required.</p>
                        </div>
                        @*Shiping Email*@
                        <div class="form-group col-md-6">
                            <label class="control-label" for="billingEmail">* Shipping Email</label>

                            <input type="email" class="form-control" id="txtShippingEmail" name="txtShippingEmail" ng-model="vm.WrapperModel.Shipping.Email" required placeholder="Shipping Email" title="Shipping Email">
                            <span ng-show="dnaForm.txtShippingEmail.$dirty && dnaForm.txtShippingEmail.$invalid"></span>

                            <div style="color:red" ng-if="!dnaForm.txtShippingEmail.$error.required  && dnaForm.txtShippingEmail.$error.email" class="error">
                                Please fill out a correct email address
                            </div>

                        </div>
                        @*PO Number*@
                        <div class="form-group col-md-6">
                            <label class="control-label" for="shippingPO">PO Number</label>

                            <input type="text" class="form-control" id="txtShippingPO" name="txtShippingPO" ng-model="vm.WrapperModel.Shipping.PO" required placeholder="PO Number" title="Po Number">

                        </div>
                    </div>
                </div>
            </div>
            @*Billing*@
            <div class="col-lg-6">
                <div class="panel panel-primary ">
                    <div class="panel-heading" >
                        <h3 class="panel-title">Billing Information </h3>
                        <p>* Mandatory Information</p>
                        <label>
                            <input type="checkbox" ng-model="vm.isBilling" ng-click="vm.isShippingTheSame(vm.isBilling)" />
                            Checkbox if same as shipping address?
                        </label>
                    </div>
                    <div class="panel-body">
                        @*First Name*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.txtBillingFirstName.$invalid && !dnaForm.txtBillingFirstName.$pristine}">
                            <label class="control-label" for="txtFirstName">* First Name</label>
                            <input type="text" class="form-control" id="txtBillingFirstName" name="txtBillingFirstName" ng-model="vm.WrapperModel.Billing.FirstName" placeholder="First Name" title="First Name" required>
                            <p ng-show="dnaForm.txtBillingFirstName.$invalid && !dnaForm.txtBillingFirstName.$pristine" class="help-block">Your First name is required.</p>
                        </div>
                        @*Last Name*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.txtBillingLastName.$invalid && !dnaForm.txtBillingLastName.$pristine}">
                            <label class="control-label" for="txtBillingLastName">* Last Name</label>
                            <input type="text" class="form-control" id="txtBillingLastName" name="txtBillingLastName" ng-model="vm.WrapperModel.Billing.LastName" placeholder="Last Name" title="Last Name" required>
                            <p ng-show="dnaForm.txtBillingLastName.$invalid && !dnaForm.txtBillingLastName.$pristine" class="help-block">Your  Last name is required.</p>
                        </div>
                        @*Institution*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.txtBillingInstitution.$invalid && !dnaForm.txtBillingInstitution.$pristine}">
                            <label class="control-label" for="txtBillingInstitution">Institution / Company Name</label>
                            <input type="text" class="form-control" id="txtBillingInstitution" name="txtBillingInstitution" ng-model="vm.WrapperModel.Billing.Institution" placeholder="Institution" title="Institution" required>
                            @*                            <p ng-show="dnaForm.txtBillingInstitution.$invalid && !dnaForm.txtBillingInstitution.$pristine" class="help-block">Institution / Company Name is required.</p>*@
                        </div>

                        @*Country*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.billingCountryDrp.$invalid && !dnaForm.billingCountryDrp.$pristine}">
                            <label class="control-label">Country</label>

                            <select id="accountselector" name="billingCountryDrp" ng-model="vm.WrapperModel.Billing.Country" class="form-control" style="width: 100%;">
                                <option value="">--- Select an option ---</option>
                                <option data-ng-repeat="(key, value) in vm.countriesList" value="{{key}}">{{value.name}}</option>
                            </select>
                            
                        </div>
                        @*Address*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.txtBillAddress.$invalid && !dnaForm.txtBillAddress.$pristine}">
                            <label class="control-label" for="txtBillAddress">* Address</label>
                            <input type="text" class="form-control" id="txtBillAddress" name="txtBillAddress" ng-model="vm.WrapperModel.Billing.BillingAddress" placeholder="Billing Address" title="Billing Institution" required>
                            <p ng-show="dnaForm.txtBillAddress.$invalid && !dnaForm.txtBillAddress.$pristine" class="help-block">Address is required.</p>
                        </div>
                        @*Postal Code*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.txtBillingPostalCode.$invalid && !dnaForm.txtBillingPostalCode.$pristine}">
                            <label class="control-label" for="txtBillingPostalCode">Postal Code</label>
                            <input type="text" class="form-control" id="txtBillingPostalCode" name="txtBillingPostalCode" ng-model="vm.WrapperModel.Billing.PostalCode" placeholder="Postal Code" title="Postal Code" required>
                            @*                            <p ng-show="dnaForm.txtBillingPostalCode.$invalid && !dnaForm.txtBillingPostalCode.$pristine" class="help-block">Postal Code is required.</p>*@
                        </div>
                        @*Phone*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.lblBillingPhone.$invalid && !dnaForm.lblBillingPhone.$pristine}">
                            <label class="control-label" for="lblPhone">*Phone</label>
                            <input type="number" class="form-control" id="lblPhone" name="lblBillingPhone" ng-model="vm.WrapperModel.Billing.Phone" placeholder="Billing Phone" title="Billing Phone" required>
                            <p ng-show="dnaForm.billingCountryDrp.$invalid && !dnaForm.billingCountryDrp.$pristine" class="help-block"> Phone is required.</p>
                        </div>
                        @*Extention*@
                        <div class="form-group col-md-6" ng-class="{'has-error' : dnaForm.txtBillingExtention.$invalid && !dnaForm.txtBillingExtention.$pristine}">
                            <label class="control-label" for="lblPhone">*Extention</label>
                            <input type="text" class="form-control" id="txtExtention" name="txtExtention" ng-model="vm.WrapperModel.Billing.Extention" placeholder="Extention" title="Extention" required>
                            <p ng-show="dnaForm.txtBillingExtention.$invalid && !dnaForm.txtBillingExtention.$pristine" class="help-block">Extention is required.</p>
                        </div>
                        @*Billing Email*@
                        <div class="form-group col-md-6">
                            <label class="control-label" for="billingEmail">*Billing Email</label>

                            <input type="email" class="form-control" id="billingEmail" name="txtBillingEmail" ng-model="vm.WrapperModel.Billing.Email" required placeholder="Billing Email" title="Billing Email">
                            <span ng-show="dnaForm.billingEmail.$dirty && dnaForm.txtBillingEmail.$invalid"></span>

                            <div style="color:red" ng-if="!dnaForm.txtBillingEmail.$error.required  && dnaForm.txtBillingEmail.$error.email" class="error">
                                Please fill out a correct email address
                            </div>

                        </div>
                        @*PO Number*@
                        <div class="form-group col-md-6">
                            <label class="control-label" for="billingPO">PO Number</label>

                            <input type="text" class="form-control" id="txtBillingPO" name="txtBillingPO" ng-model="vm.WrapperModel.Billing.PO" required placeholder="PO Number" title="Po Number">

                        </div>
                    </div>
                </div>
            </div>


        </div>

        @*New Form*@
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> Oligonucleotide Order Form</h3>
            </div>

            <div class="panel-body">
                <fieldset></fieldset>
                <div ng-repeat="rows in vm.NewOligonucleotideRow">
                    <table class="panel-body ogliTableSpace" ng-form='dnaForm'>
                        <thead class="ogliHeader">
                            <tr>
                                <th width="60px;">Oligo<br /> No</th>
                                <th>QTY</th>
                                <th>Oligo Name <br /> <span style="font-size:10px;">(max 25 characters)</span></th>
                                <th>SCALE OF <br /> SYNTHESIS</th>
                                <th>PURIFICATION <br /> METHOD </th>
                                <th>5’ <br />MODIFICATION </th>
                                <th>INTERNAL <br />MODIFICATION </th>
                                <th>OLIGO SEQUENCE <br />(5’ – 3’)</th>
                                <th>3’<br />MODIFICATION</th>
                                <th>DELIVERY <br /> METHOD </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                            @*<th>Oligo Number</th>*@
                            <td>
                                <input type="text" style="width:40px;" id="txtOligoNumber" name="OligoNumber" ng-model="rows.OglioNumber" disabled="disabled" title="OligoNumber" required>
                            </td>
                            @*<th>QTY</th>*@
                            <td>
                                <input ng-model-options="{ debounce: 1000 }" type="text" style="width:50px;" class="form-control" ng-change="vm.UserQuote($index,rows.Qty,rows.OligonucleotideSequence,scaleValues1,Purification2)" id="txtQty" name="txtQty" ng-model="rows.Qty" placeholder="qty" title="Qty">

                            </td>
                            @*<th>Oligio Name <br /> Max 25 Characters)</th>*@
                            <td>
                                <input type="text" class="form-control" maxlength="25" id="txtPrimerName" name="PrimerName" ng-model="rows.PrimerName" tooltip="{{dnaForm.PrimerName.$invalid ? '' : 'How clients see your name.  Min 4 chars.'}}" placeholder="Enter Primer Name" title="Primer Name" required>
                                <span ng-show="dnaForm.PrimerName.$dirty && dnaForm.PrimerName.$invalid">  </span>
                                <span style="color:red;font-family:'Montserrat', sans-serif" ng-show="dnaForm.PrimerName.$error.required">primer name is required.</span>
                            </td>
                            @*<th>SCALE OF SYNTHESIS <a href="">?</a></th>*@
                            <td>
                                <select id="scaleValues1" ng-model-options="{ debounce: 1000 }" class="form-control text-center" name="scaleValues1" ng-change="vm.keyPressSynthesisScale1Values($index,scaleValues1) ; vm.UserQuote($index,rows.Qty,rows.OligonucleotideSequence,scaleValues1,Purification2)" ng-model="scaleValues1" ng-options="findScale.name as findScale.value for findScale in rows.SynthesisScale1"><option value="">--- Select ---</option></select>
                            </td>
                            @*<th>PURIFICATION METHOD </th>*@
                            <td>
                                <select id="ddlPurification" ng-model-options="{ debounce: 1000 }" class="form-control text-center" name="ddlPurification" ng-change="vm.keyPressPurification($index,Purification2);vm.UserQuote($index,rows.Qty,rows.OligonucleotideSequence,scaleValues1,Purification2)" ng-model="Purification2" ng-options="user.value as user.name for user in rows.Purification"><option value="">--- Select  ---</option></select>
                            </td>
                            @*<th>5’MODIFICATION </th>*@
                            <td>
                                <select class="form-control text-center" ng-model="vm.fiveInchMod"  ng-change="vm.fiveInchSequence($index,vm.fiveInchMod)">
                                    <optgroup ng-repeat="header in rows.Five5Modifications" label="{{ header.name }}">
                                        <option value="">--- Select ---</option>
                                        <option ng-repeat="item in header.items" value="{{ item.value }}">{{ item.name }}</option>
                                    </optgroup>
                                </select>
                            </td>
                            @*<th>INTERNAL MODIFICATION </th>*@
                            <td>
                                <select ng-model="vm.value" ng-change="vm.keyPressInternalModification($index,vm.value)" class="form-control">
                                    <optgroup ng-repeat="header in rows.InternalModification" label="{{ header.name }}">
                                        <option value="">--- Select ---</option>
                                        <option ng-repeat="item in header.items" value="{{ item.value }}">{{ item.name }}</option>
                                    </optgroup>
                                </select>
                            </td>
                            @*<th>OLIGO SEQUENCE <br />(5’ – 3’)<a href="">?</a></th>*@
                            <td>
                                <textarea maxlength="150"  ng-model-options="{ debounce: 1000 }" ng-click="vm.getCursorPos($event,$index)"  ng-keyup="vm.getCursorPos($event,$index)" ng-change="vm.UserQuote($index,rows.Qty,rows.OligonucleotideSequence,scaleValues1,Purification2)" class="form-control" id="OligonucleotideSequence{{$index}}" name="OligonucleotideSequence{{$index}}" ng-model="rows.OligonucleotideSequence" placeholder="Oligonucleotide Sequence" title="Oligonucleotide Sequence"></textarea>
                            </td>
                            @*<th>3’MODIFICATION</th>*@
                            <td>
                             
                                <select  class="form-control" ng-model="vm.threeInchValue" ng-change="vm.threeInchSequence($index,vm.threeInchValue)" >
                                    <optgroup ng-repeat="header in rows.ThreeModifications" label="{{ header.name }}">
                                        <option value="">--- Select  ---</option>
                                        <option ng-repeat="item in header.items" value="{{ item.value }}">{{ item.name }}</option>
                                    </optgroup>
                                </select>
                            </td>
                            <td>
                                <select id="finalDeliveryForm" class="form-control" ng-change="keyPressFinalDeliveryForm($index,finalDeliveryForm2)" name="finalDeliveryForm" ng-model="finalDeliveryForm2" ng-options="deliveryForm.name as deliveryForm.value for deliveryForm in rows.FinalDeliveryForm"><option value="">--- Select an option ---</option></select>
                            </td>

                            @*Extra info*@
                            <tr style="background-color: lightgrey;height:40px;">
                                <td colspan="4">
                                    No bases : {{rows.NumberOfBases}}; GC Content:{{rows.GcContent}}% Tm: {{rows.Tm }};&deg;</td>

                                <td></td>
                                <td></td>
                                <td></td>

                                <td colspan="2">
                                <td>EST.ITEM PRICE $ {{rows.Price}} </td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" ng-click="vm.OligonucleotideRow()">Add Another Oligo</button>
                    <button class="btn btn-danger" ng-click="vm.removeRow($index)">Remove this Oligo</button>

                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Notes</h3>
            </div>
            <div class="panel-body">
                <textarea name="txtNotes" ng-model="WrapperModel.Billing.Notes" cols="200" rows="5"></textarea>
            </div>

        </div>

        <input type="submit" class="btn btn-primary" ng-click="vm.submitForm()" ng-disabled="!dnaForm.$valid">
    </form>
    <div class="modal fade" id="OligonucleotideForms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Oligonucleotide  Forms</h4>
                </div>
                <div class="modal-body">
                    <p> <a href="~/pdf/ACGT%20Oligo%20Order%20Form.pdf">ACGT Oligo Order Form.pdf</a></p>
                    <p><a href="~/pdf/OligonucleotideOrderFormInstructions.pdf">OligonucleotideOrderFormInstructions.pdf</a></p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="ModificationList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Modification List</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li ng-repeat="list in modificationList">
                            {{list.name}}
                        </li>
                    </ul>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

</div>