
@{
    ViewBag.Title = "publications-that-used-acgts-services";
}

<h2>Publications that used Acgts Services</h2>
<div class="jumbotron">
<p>ACGT delivers quality sequencing and oligonucleotide services to researchers around the world providing them with the essential tools to publish their work. Below is a short list of some recent works published using our services. Our goal at ACGT is to continue the advancement of scientific knowledge by expanding our products and services available as well as continuing to offer DNA sequencing and synthesis. Check our website frequently to see our new products and services such as site directed mutagenesis.</p>

<h2>2013</h2>

<ol type="1">
    <li>Collagen remodeling by phagocytosis is determined by collagen substrate topology and calcium-dependent interactions of gelsolin with nonmuscle myosin IIA in cell adhesions P. D. Arora, Y. Wang, A. Bresnick, J. Dawson, P. A. Janmey, and C. A. McCullocha. Mol Biol Cell. 2013 March 15; 24(6): 734–747. </li>
    <li>Metal Binding Properties of Escherichia coli YjiA, a Member of the Metal Homeostasis-Associated COG0523 Family of GTPases Andrew M. Sydor, Marco Jost Katherine S. Ryan, Kaitlyn E. Turo, Colin D. Douglas, Catherine L. Drennan, and Deborah B. Zamble*† Biochemistry. 2013 March 12; 52(10): 1788–1801. </li>
    <li>Oral Neutrophil Transcriptome Changes Result in a Pro-Survival Phenotype in Periodontal Diseases Flavia S. Lakschevitz, Guy M. Aboodi, and Michael Glogauer, Charles C. Caldwell, Editor PLoS One. 2013; 8(7): e68983. </li>
    <li>CD109 Plays a Role in Osteoclastogenesis Yongqiang Wang, Maayan Inger, Hongwei Jiang, Howard Tenenbaum, and Michael Glogauer, Pranela Rameshwar, Editor PLoS One. 2013; 8(4): e61213. </li>
    <li>Genome-Wide Association Analysis Identifies a Mutation in the Thiamine Transporter 2 (SLC19A3) Gene Associated with Alaskan Husky Encephalopathy Karen M. Vernau, Jonathan A. Runstadler, Emily A. Brown, Jessie M. Cameron, Heather J. Huson, Robert J. Higgins, Cameron Ackerley, Beverly K. Sturges, Peter J. Dickinson, Birgit Puschner, Cecilia Giulivi, G. Diane Shelton, Brian H. Robinson, Salvatore DiMauro, Andrew W. Bollen, and Danika L. Bannasch Gerard Roel Rutteman, Editor PLoS One. 2013; 8(3): e57195. </li>
</ol> 
    <h2>2012</h2>
    <ol type="1">
        <li> Reduced Expression of the rplU-rpmA Ribosomal Protein Operon in mexXY-Expressing Pan-Aminoglycoside-Resistant Mutants of Pseudomonas aeruginosa Calvin Ho-Fung Lau,a Sebastien Fraud,a Marcus Jones,b Scott N. Peterson,b and Keith Poolecorresponding authora Antimicrob Agents Chemother. 2012 October; 56(10): 5171–5179. </li>
        <li> YeiR: a metal-binding GTPase from Escherichia coli involved in metal homeostasis Crysten E. Blaby-Haas, Jessica A. Flood, Valérie de Crécy-Lagard, and Deborah B. Zamble Metallomics. Metallomics. 2012 May; 4(5): 488–497. </li>
        <li> Expression, purification, crystallization and preliminary X-ray analysis of Pseudomonas aeruginosa AlgL Francis Wolfram, Kritica Arora, Howard Robinson, Ana Mirela Neculai, Patrick Yip, and P. Lynne Howella Acta Crystallogr Sect F Struct Biol Cryst Commun. 2012 May 1; 68(Pt 5): 584–587. </li>
        <li>Combining in situ proteolysis and mass spectrometry to crystallize Escherichia coli PgaB Dustin J. Little, John C. Whitney, Howard Robinson, Patrick Yip, Mark Nitz, and P. Lynne Howell Acta Crystallogr Sect F Struct Biol Cryst Commun. 2012 July 1; 68(Pt 7): 842–845. </li>
        <li>Expression, purification, crystallization and preliminary X-ray analysis of Pseudomonas aeruginosa PelD Lindsey S. Marmont, John C. Whitney, Howard Robinson, Kelly M. Colvin, Matthew R. Parsek, and P. Lynne Howell Acta Crystallogr Sect F Struct Biol Cryst Commun. 2012 February 1; 68(Pt 2): 181–184. </li>
    </ol>
</div>