
@{
    ViewBag.Title = "Terms And Conditions";
}

<h2>Terms And Conditions</h2>
<div class="jumbotron">
<p>Prices on this website are subject to change without notice.</p>
<p>Written quotations for any of our products or services will be provided at no cost or obligation. Quotes are valid for 30 days unless stated otherwise.</p>
<p>Payment: We accept MasterCard, Visa, American Express and purchase orders (net 30 days).</p>
<p>Shipping: We ship using an express courier (overnight) service for orders outside the downtown Toronto area. Additional shipping costs apply.</p>
<p>Disclaimer: Synthesized oligonucleotides that are GMP-certified may be used in the development of diagnostic medical devices. All other products and services are for research purposes only.</p>
</div>