
@{
    ViewBag.Title = "Thankyou";
}

<div style="padding-top:70px;" class="jumbotron">
    <h2>Thank you we received your form and will contact you if there are any issues</h2>
    <p class="thankYou">Note: For online sequencing submissions, please include your name and contact information (email and telephone number) with your samples. </p>    </div>

